@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
	margin: 0;
	padding: 0;
	
	font-family: 'Righteous', cursive;
	color: white;
}
body::-webkit-scrollbar {
	width: 20px;
	background: black;
	border:double 5px white;
}
body::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;box-shadow: 0 0 100px #DD0707,
	            0 0 25px red,
	            0 0 50px red,
	            0 0 100px red,
	            0 0 200px red,
	            0 0 500px red;
	
}



a{
	text-decoration: none;
	display: inline;
	color: black;
}
/*AKI DELIMITAMOS EL GRID ANTES 980PX;*/
.grid-container{
	max-width: 980px;
	margin: auto;
}
header{
	width: 100%;
	height: 140px;
	display: grid;
	grid-template-rows: 1fr 1fr;

}
header .header-icons-container{
	width: 100%;
	height: 50px;
	display: grid;
	background-color: black;
}
header .header-icons-container .icons{
	width: 300px;
	height: auto;
	display: flex;
	justify-items:flex-end;
	align-items: center;
	justify-content: space-between;
	justify-self: end;
	margin-right: 50px
}
header .icons span{
	color: white;
	font-size: 40px;

}
nav{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 90px; 
}
nav .nav-logo-container{
	margin-left: 50px;
}
nav .nav-logo-container img{
	width: 220px;
	margin-top: 10px;
}
nav .profile-link{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 50px;
}
nav .profile-link a{
	color: black;
	border-bottom: 1px solid black; 
	text-transform: uppercase;
	transition: text-shadow 1s;
}
nav .profile-link a:hover{
	
	text-shadow: #DD0707;
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707;
}
.home-main{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	height: 100%;
	background-image: url('../assets/linkin park ch.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: red;
	box-shadow: 0 0 5px red,
	            0 0 25px red,
	            0 0 50px red;

}
.home-main section{
	display: grid;
	grid-column: 2;
	justify-items:center; 
	height: 350px;
	margin-top: 80px;
}
.home-main-text{
	font-size: 30px;
	font-weight: 700px;
	letter-spacing: 3px; 
	color: white;
}

.home-main-button a{
	font-weight: 700px;
	font-size: 18px;
	color: #DD0707;

}

.blogs-news-container{
	background-color: black;
	padding: 0 50px 40px;
	box-shadow: 0 0 5px red,
	            0 0 25px red,
	            0 0 50px red;
}
.blogs-main-new{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;
}
.blogs-news-img-container{
	grid-column: 1;
}
.blogs-news-img-container img{
	width: 30%;

}
.blogs-news-info-container{
		grid-column: 2;

}
.blogs-news-info-container p{
	align-items: center;

	margin-bottom: 35px;

}
.blogs-posts-container{
	padding: 0 50px 50px;
}
.blogs-posts-container h3{
	border-bottom:1px solid #DD0707;
	padding-bottom: 20px;
	text-align: center;
}
.blogs-button{
	border:1px solid #47cfac;
	padding: 10px 15px;
	font-size: 12px;
	color: white;
	background: black;
}
.blogs-posts-container .post-container{
	display: inline-block;
	padding-left:10px;
	max-width: 31.5%;
	margin-bottom: 50px; 

}
.blogs-posts-container .post-container p{
    margin-bottom: 35px;color: black;
}
.blogs-posts-container .post-container img{
	height: 230px;
	width: 100%;

}
/*AKI ESTA MI FOOTERRRRRRRRRRRRRRRRRRRRR*/
footer{
	width: 100%;
	height: 80px;
	background: black;
	border-top:35px solid #5B0404;
	text-align: center;
	box-shadow: #DD0707;
	box-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707;
}
footer p{
	color: white;
	margin-top: 30px;
}

.home-main-text{
font-size: 20px;
font-weight: 700px;
color: black;
text-align: center;
color: white;
letter-spacing: 3px; 
font-family: 'Righteous', cursive;
transition: text-shadow .8s , letter-spacing .8s ease;
vertical-align: middle;
width: 100%;
height: 25px;



}
.home-main-text:hover{
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707;
	letter-spacing: 10px;        
}
.pProyect{
	color: black;
	font-size: 30px;
}
.home-main-button{
	width: 110px;
	height: 50px;
	background:white;
	display: grid;
	align-items: center;


	font-weight: 700PX;
	font-size: 18px;
	transition:box-shadow 1s;
	border:none;
	border-radius: 5px;
	font-weight: lighter;

}
.home-main-button:hover{
	box-shadow: 0 0 30px #DD0707,
	            0 0 50px #DD0707,
	            0 0 100px #DD0707,
	            0 0 200px #DD0707,
	            0 0 300px #DD0707;
}
.blogs-main{
	display: grid;
	box-shadow: #DD0707;
	box-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707;

}
header .header-icons-container{
	width: 100%;
	height: 50px;
	display: grid;  
	background: black;
	box-shadow: #DD0707;
	box-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707;
}
.fab{
	background: black;
	font-size: 35px;

	color: white;
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 500px #DD0707;
	            transition: color .3s;
	        }
.fab:hover{
	color: #DD0707;
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707,
	            0 0 100px #DD0707,
	            0 0 200px #DD0707;
}
.fas{
	background: black;
	font-size: 30px;

	color: white;
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 500px #DD0707;
	            transition: color .3s;
	        }
.fas:hover{
	color: #DD0707;
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707,
	            0 0 100px #DD0707,
	            0 0 200px #DD0707;
}
img{
	transition: transform .3s ease;
}
img:hover{
	transform: scale(150%);
	transition-delay: .4s;

}
.imagePrincipal{
	
	



}

.imagePrincipal:hover{
		transform: none;		
}
.tituloBandas{
	margin-top: 40px;
	text-transform: uppercase;
}
.h3Titulo{
	transition: text-shadow .8s , letter-spacing .8s ease;
}
.h3Titulo:hover{
	
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707;
	letter-spacing: 14px;        
}
.texto{
	text-shadow: 0 0 5px #DD0707,
	            0 0 25px #DD0707,
	            0 0 50px #DD0707;
}

/*aki empieza la seccion de la pagina acerca de*/
.blogspost-img-container{
	padding: 0 50px 40px;
}
.blogpost-img-container img{
	width: 70%;
	transform: none;
}
.blogpost-main-container{
	padding: 0 50px 40px;
}
.blogpost-main-container{
	border-bottom: 1px solid #cdd2da;
	padding-bottom: 20px;
	color: black;
}
.blogpost-main-container h3{
	border-bottom: 1px solid#cdd2da;
	padding-bottom: 20px;
}
.blogpost-main-container article h1{
	font-size: 35px;
}
.contact-main-container{
	color: black;
	width: 100%;
	min-height: 250px;
	background-color: #e6e9ed;
	text-align: center;
	padding-bottom: 50px;
}
.contact-main-container div{
	display: inline-block;
	width: 49.5%;
	height: 100%;
	padding: auto;

}
.contact-main-container div a{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right{
	text-align: initial;
	margin-top: 85px;
	}
	.contact-main-container img{
		width: 100px;
	}
	/*aki empeza la pagina de perfil*/
	.profile-main-container{
		padding: 70px 40px;
		background: #e6e9ed;
		margin-bottom: 50px;
	}
	.profile-main-container img{
		width: 320px;
		margin-right: 30px;
		transform: none;
	}
	.profile-main-container .profile-container{
		display: flex;
		color: black;
	}
	.profile-main-proyects {
		padding: 0 50px 40px;
	}
	.profile-main-protects h3 {
		border-bottom: 1px solid black;
		padding-bottom: 35px;
		text-align: center;
		color: black;
	}
	.proyects-main-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.proyect-container{

		color: black;
		text-align: center;
		padding: 0 5px;
	}
	.proyect-container img{
		width: 100%;
		transform: none;
	}
	.center { margin-left: auto;
    margin-right: auto;
    display: block}

     .img{
     	height: 400px;
     }